.projects {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}
    .projects-container {
    }
        .project {
            height: 150px;
            margin: 20px 0;
            display: flex;
        }
        .project:hover {
            box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.6), 0px 1px 1px 0px rgba(0,0,0,0.17), 0px 1px 3px 0px rgba(0,0,0,0.17)
        }
        .project-link {
            text-decoration: none;
        }
        .project-image {
            height: 100%;
            width: 300px;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
        .project-description {
            flex-shrink: 20;
            padding: 10px;
            padding-top: 0;
        }

@media only screen and (max-width: 600px) {
    .project {
        height: 300px;
        flex-direction: column;
    }
        .project-image {
            width: 100%;
            max-height: 200px;
        }
}