.about, .contact {
    max-width: 900px;
    padding: 0 20px;
    margin: 0 auto;
}

.contact {
    margin-top: 5px;
    margin-bottom: 20px;
}

.contact-buttons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
